body {
	margin: 0;
	padding: 0;
	background-color: #111;
	color: #EAEAEB;
}

.content-section {
	display: grid;
	grid-template-columns:  15px repeat(6, 1fr);
	grid-gap: 2px;
	
	
}


section {
	width: 90%;
	margin: 5px auto;
	text-align: center;
	color: #D9D9DA;
	border: 2px solid gray;
	font-size: .9em;
	font-family: 'Roboto', sans-serif;
	box-shadow: 5px 10px #222;
	
}

.vertical{
    width:1em;
    word-wrap: break-word;
    font-family: monospace;  
	border: none;
	background-color: teal;
	color: #fff;
	font-size: 1.5em;
	align-self: center;
	box-shadow: none;

}

.special-section {
	border: 1px solid teal;
}

.div-head {
	font-size: 1.5em;
	color: #57FF00;
	opacity: 0.8;
	background-color: #222;
	padding: 10px;
	
}


.cell {
	display:flex;
	flex-direction: column;
	justify-content: center;
	font-size: 1em;
	line-height: 1em;
	padding: 2px;
	margin: 0 auto;
}

.child-item {
	width: 100%;
	text-align: left;
	vertical-align: center;
	line-height: 100%;
}

.child-item:hover {
	background-color: #222;
	color: #fff;
	cursor: pointer;
	
}

svg:hover {
	 transform:scale(4);
	 transition: 1s;
}

div > svg {
	width: 20px;
	height: 20px;
	border: 1px solid gray;
	margin: 10px;
	background-color: #000;

	
}



.svg-block {
	fill: #20EFC8;
}


.svg-block-alternate {
	fill: #57FF00;
	opacity: 0.9;
}



.display-grid {
	fill: #7DB261;
}

.display-grid-alternate {
	fill: #7DB261;
}

#scratchpad {
	
	white-space: pre-wrap;
	background-color: #fff;
	color: #000;
	font-size: 1.4em;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	margin-top: 100px;
}
