body {
	margin: 0;
	padding: 0;
	
	--main-text-color: #000;
	--main-bg: #fff;
	--nav-bg: #00374E;
	--main-header-color: #fff;
	--main-header-bg: #00374E;
	--main-svg-color: #20EFC8;
	--alternate-svg-color: #57FF00;
	--svg-bg: #000;
	--alternate-svg2-color: #FFFC19;
	--main-svg2-color: #FF530D;
	--section-tab-color: #000;
	--section-tab-bg: #EAEAEB;
	--link-color: #fff;
	--link-hover-color: #00374E;
	--link-hover-bg: #fff;
	
	
	color: var(--main-text-color);
	background-color: var(--main-bg);
	
}


body::-webkit-scrollbar {
    width: 2em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #000;
  outline: 1px solid black;
 }



nav {
	display: flex;
	width: 100%;
	position: fixed;
	top: 0;
	margin: 0;
	z-index: 99;
	background-color: var(--nav-bg);
}

nav a {
	
	
	font-size: 1em;
	line-height: 1em;
	text-decoration: none;
	text-align: center;
	color: var(--link-color);
	background-color: var(--nav-bg);
	padding: 20px;
	
}

nav a:visited {
	color: var(--link-color);
	
}


nav a:hover {
	color: var(--link-hover-color);
	background-color: var(--link-hover-bg);
	
	
}

a {
	text-decoration: none;
	display: block;
	
	padding: 10px;
	color: var(--main-svg-color);
	background-color: var(--nav-bg);
	
}

a:visited {
	color: var(--main-svg-color);
}

a:hover {
	
	color: var(--main-text-color);
	background-color: var(--main-svg-color);
	
}



.content-section {
	display: grid;
	grid-template-columns:  15px repeat(6, 1fr);
	grid-row-gap: 20px;
	grid-column-gap: 1px;
	margin-top: 60px;
	
	
}



section {
	width: 93%;
	margin: 1px auto;
	text-align: center;
	color: var(--main-text-color);
	background-color: var(--main-bg);
	border: 1px solid gray;
	font-size: .9em;
	font-family: 'Roboto', sans-serif;
	box-shadow: 2px 4px #222;
	
}


.vertical {
    width: 1em;
	height: 50%;
    word-wrap: break-word;
    font-family: monospace;  
	border: none;
	color: var(--section-tab-color);
	background-color: var(--section-tab-bg);
	font-size: 1.5em;
	align-self: center;
	box-shadow: none;

}


.special-section {
	border: 1px solid teal;
}

.div-head {
	
	font-size: 1em;
	color: var(--main-header-color);
	background-color: var(--main-header-bg);
	padding: 5px;
}

.cell {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
	
}

.cell:hover {
	background-color: #222;
	color: #fff;
	cursor: pointer;
	
}


.child-item {
	
	text-align: left;
	padding: 2px;
	flex: 1;
	line-height: 1.2em;
	font-size: 1em;
}

.code-block {
	font-family: monospace;
	color: teal;
	white-space: pre-wrap;
	padding: 2px 0 2px 15px;
}

.code-block:hover {
	color: var(--main-svg-color);
}

svg:hover {
	 transform:scale(4);
	 transition: 0.2s;
	 
	 
}

svg:hover + .child-item {
	font-size: 1.1em;
	text-align: right;
}

div > svg {
	width: 20px;
	height: 20px;
	border: 1px solid gray;
	margin: 5px;
	background-color: var(--svg-bg);
	box-shadow: 2px 4px #222;

	
}

.svg-block {
	fill: var(--main-svg-color);
	
}

.svg-block-alternate {
	fill: var(--alternate-svg-color);
}

.svg-block2 {
	fill: var(--main-svg2-color);
}

.svg-block2-alternate {
	fill: var(--alternate-svg2-color);
}

.svg-scaledown {
	transform:scale(.8);
}

a.anchor {
    display: block;
    position: relative;
    top: -180px;
    visibility: hidden;
}

section:nth-child(even){
	background-color: #D9D9DA;
}

.table-block {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-row-gap: 5px;
	grid-column-gap: 5px;
	
}


.table-block > div:nth-child(odd){
	text-align: right;
	border: 1px solid gray;
	padding: 2px;
}

.table-block > div:nth-child(even){
	text-align: left;
	
	padding: 2px;
}


.define-block {
	display: grid;
	grid-template-columns: 1fr 1fr; 
	grid-row-gap: 5px;
	grid-column-gap: 5px;
}

.define-block > div {
	padding: 5px;
	text-align: center;
}

@media (max-width: 700px){
	.content-section {
	display: flex;
	flex-direction: column;
	
	
}

.vertical {
   
    word-wrap: normal;
	width: 100%;
	
}


}
