body {
	margin: 0;
	padding: 0;
	--main-text-color: #EAEBEC;
	--main-bg: #39393a;
	--main-bg-alternate: #494a4b;
	--nav-bg: #00152c;
	--main-header-color: #EAEBEC;
	--main-header-bg: #00152c;
	--main-svg-color: #20EFC8;
	--alternate-svg-color: #57FF00;
	--svg-bg: #000;
	--alternate-svg2-color: #FFFC19;
	--main-svg2-color: #FF530D;
	--section-tab-color: #000;
	--section-tab-bg: #39393a;
	--link-color: #EAEBEC;
	--link-hover-color: #00152c;
	--link-hover-bg: #EAEBEC;
	--js-rep-color: #feecb9;
	--layout-rep-color: #20EFC8;
	--git-rep-color: #F6F8FA;
	--regex-rep-color: blue;
	--tools-rep-color: green;
	--table-highlights: #222;
	color: var(--main-text-color);
	background-color: var(--main-bg);
	font-size: 1.2rem;
}

nav {
	display: flex;
	width: 100%;
	position: fixed;
	top: 0;
	margin: 0;
	z-index: 99;
	background-color: var(--nav-bg);
}

nav a {
	font-size: 1em;
	line-height: 1em;
	text-decoration: none;
	text-align: center;
	color: var(--link-color);
	background-color: var(--nav-bg);
	padding: 10px;
	
}

nav a:visited {
	color: var(--link-color);
}


nav a:hover {
	color: var(--link-hover-color);
	background-color: var(--link-hover-bg);
}

a {
	text-decoration: none;
	display: block;
	padding: 10px;
	color: var(--main-svg-color);
	background-color: var(--nav-bg);
}

a:visited {
	color: var(--main-svg-color);
}

a:hover {
	color: var(--link-hover-color);
	background-color: var(--main-svg-color);
}


svg:hover {
	 transform:scale(4);
	 transition: 0.2s;
}

svg:hover + .child-item {
	font-size: 1.1em;
	text-align: right;
}

div > svg {
	width: 20px;
	height: 20px;
	border: 1px solid gray;
	margin: 5px;
	background-color: var(--svg-bg);
	box-shadow: 2px 4px #222;
}

.svg-block {
	fill: var(--main-svg-color);
}

.svg-block-alternate {
	fill: var(--alternate-svg-color);
}

.svg-block2 {
	fill: var(--main-svg2-color);
}

.svg-block2-alternate {
	fill: var(--alternate-svg2-color);
}

.svg-scaledown {
	transform:scale(.8);
}

a.anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
}

section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 10px;
	
	margin-top: 20px;
	
}

.cell {
	
	background-color: var(--main-bg);
	
}

.cell-JS {
	box-shadow: 0 2px var(--js-rep-color);
}

.cell-layout {
	box-shadow: 0 2px var(--layout-rep-color);
}

.cell-grid {
	border-left: 1px dashed var(--main-svg2-color);
}

.cell-git {
	box-shadow: 0 2px var(--git-rep-color);
}

.cell-regex {
	box-shadow: 0 2px var(--regex-rep-color);
}

.cell-tools {
	box-shadow: 0 2px var(--tools-rep-color);
}

.cell:nth-child(odd){
	background-color: var(--main-bg-alternate);
}

.cellHeader {

	text-align: center;
	background-color: var(--main-header-bg);
	color: var(--main-header-color);
}

.cellBody {
	padding: 5px;
	
	text-align: left;
}

.cellBody-Narrow-Table {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-gap: 2px;
	padding: 5px;
}

.cellBody-Narrow-Table > div:nth-child(odd) {
	text-align: right;
	background-color: var(--table-highlights);
	color: #EAEBEC;
	
	
}

.cellBody-Narrow-Table > div:nth-child(4n+2){
	background-color: #112;
}

.cellBody-Even-Table {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2px;
	padding: 5px;
}

.cellBody-Even-Table > div:nth-child(odd) {
	
	background-color: var(--table-highlights);
	color: #EAEBEC;
	
}

.cellBody-Table {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 2px;
	padding: 5px;
	
}

.cellBody-Table > div:nth-child(odd) {
	text-align: right;
	background-color: var(--table-highlights);
	color: #EAEBEC;
	
}


.cell-wide {
	grid-column: span 2;
}

h2 {
	width: 100%;
	margin-top: 60px;
}


#testInput {
background-color: #0099ff;
color: #fff;
width: 100%;
font-size: 1.5em;
min-height: 300px;
padding: 20px;
text-align: center;
}



#testOutput {
background-color: #EAEAEB;
color: #222;
font-size: 3.5em;
width: 100%;
min-height: 300px;
border: 1px solid #222;
padding: 20px;

}

#inputScript {
width: 50%;
background-color: #0044ff;
color: #fff;
padding: 10px;
}

input {
font-size: 1em;
padding: 10px;
width: 100px;
height: 50px;
}





@media only screen and (max-width: 500px){
	
	section {
	
	grid-template-columns: 1fr;
	grid-gap: 5px;
	margin-top: 40px;
	
}

.cell-wide {
	grid-column: span 1;
}


	
}
